
.container-login { max-width: 400px; width:85%; margin: 40px auto 0; }
.container-cadastro { max-width: 800px; width:90%; margin: 40px auto 0; }
.container { max-width: 980px; width: 90%; margin:0 auto; }

.offset-menu { padding-top: 100px; }

/* USUARIOS */
.container-profile h2.ui.header { margin-bottom: 40px;}


h1.ui.header { margin-bottom: 40px; }