<% include ../includes/header.ejs %>

	<div class="main container-cadastro">
		
		<%if (erros.length > 0) { %>
			
			<div class="ui error message">
				<div class="header">Existem Alguns mas pendências</div>
				<ul class="list">
				<% for(var i=0; i<erros.length; i++) {%>
				   <li><%= erros[i] %></li>
				<% } %>
				</ul>
			</div>

		<% } %>

		<form action="/api/cadastro" class="ui form" method="POST">
			<div class="two fields">
				<div class="field">
					<label for="">Nome:</label>
					<input type="text" name="nome" placeholder="seu nome completo">
				</div><!-- .field -->
				<div class="field">
					<label for="">Nick:</label>
					<div class="ui icon input">
						<input type="text" name="nick" placeholder="Nick / Usuário">
						<i class="user icon"></i>
					</div>
					<!-- /.ui icon input -->
				</div><!-- .field -->
			</div><!-- .two fields -->

			<div class="two fields">
				<div class="field">
					<label for="">Email:</label>
					<div class="ui icon input">
						<input type="text" name="email" placeholder="exemplo@email.com">
						<i class="mail outline icon"></i>
					</div>
					<!-- /.ui icon input -->
				</div>
				<!-- /.field -->
				<div class="field">
					<label for="">Repita o email:</label>
					<div class="ui icon input">
						<input type="text" name="email-repetido" placeholder="exemplo@email.com">
						<i class="mail outline icon"></i>
					</div>
					<!-- /.ui icon input -->
				</div>
				<!-- /.field -->
			</div>
			<!-- /.two fields -->

			<div class="two fields">
				<div class="field">
					<label for="">Senha:</label>
					<div class="ui icon input"><input type="password" name="password"><i class="lock icon"></i></div>
					<!-- /.icon input -->
				</div>
				<!-- /.field -->
				<div class="field">
					<label for="">Repita a senha:</label>
					<div class="ui icon input"><input type="password" name="password-repetido"><i class="lock icon"></i></div>
					<!-- /.icon input -->
				</div>
				<!-- /.field -->
			</div>
			<!-- /.two fields -->
			
			<div class="inline field">
				 <div class="ui toggle checkbox">
			      <input type="checkbox" name="hot-deals">
			      <label>Concordo com os <a href="#">Termos do serviço</a>.</label>
			    </div>
			</div>

			<div class="field">
				<input type="submit" class="ui fluid blue button" value="Cadastrar">
			</div><!--.field-->
			
		</form>
	</div>
	<!-- /.main container-cadastro -->

	<script src="/js/cadastro.js"></script>
<% include ../includes/footer.ejs %>