<% include ../includes/header.ejs %>
	<div class="ui left vertical inverted labeled icon sidebar menu" ui-view="off-canvas"></div>
	<div id="menu-offcanvas-button" class="ui black big launch right attached fixed button">
  		<i class="content icon"></i>
	</div>
	<div class="pusher" ui-view>
	</div>
<% include ../includes/footer.ejs %>