<% include ../includes/header.ejs %>


	<%if (erros.length > 0) { %>
		
		<div data-alert class="alert-box secondary">
		
			<% for(var i=0; i<erros.length; i++) {%>
			   <p><%= erros[i] %></p>
			<% } %>

		  <a href="#" class="close">&times;</a>
		</div>

	<% } %>
	<form action="/api/cadastro" method="POST">
		<div class="row">
			<div class="large-12 columns">
				<label>Nome:
		        <input type="text" name="nome" placeholder="" />
		      </label>
			</div>
			<!-- /.large-12 columns -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="large-12 columns">
				<label>Nick:
		        <input type="text" name="nick" placeholder="" />
		      </label>
			</div>
			<!-- /.large-12 columns -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="large-12 columns">
				<label>Email:
		        <input type="text" name="email" placeholder="" />
		      </label>
			</div>
			<!-- /.large-12 columns -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="large-12 columns">
				<label>Senha:
		        	<input type="password" name="senha" placeholder="" />
		    	</label>
			</div>
			<!-- /.large-12 columns -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="large-12 columns">
				<input type="submit" class="button expand" value="Cadastrar">
			</div>
			<!-- /.large-12 columns -->
		</div>
		<!-- /.row --></form>
<% include ../includes/footer.ejs %>