<% include ../includes/header.ejs %>
<% include ../includes/off-canvas.ejs %>

	<div class="container-geral offset-menu">
		
		<div class="ui segment">
			<div class="ui right attached rail">
				<div class="ui items profile-rail">
					<div class="item">
						<a href="" class="ui tiny image"><img src="/img/jenny.jpg" alt=""></a>
						<div class="middle aligned content">
							<div class="header"><%= user.name %></div>
							<!-- /.header -->
							<div class="description"><a href="" class="ui primary button">Editar perfil</a></div>
							<!-- /.description -->
						</div>
						<!-- /.middle aligned content -->
					</div>
					<!-- /.item -->
				</div>
				<!-- /.ui items -->
			</div><!-- /.ui rail -->

		</div>
		<!-- /.ui segment -->
	</div>
	<!-- /.container segment -->
	<script>

		$(document).ready(function() {
			$('#menu-offcanvas-button').click(function(){
				$('.left.sidebar').sidebar('toggle');
			});
			
		});

	</script>
<% include ../includes/footer.ejs %>