<% include ../includes/header.ejs %>
	
	<div class="row">
		<div class="large-12 columns">
			
			token: <%= token %> <br/>
			nome: <%= user.name %> <br/>
			nick: <%= user.nick %> <br/>
			email: <%= user.email %>
		</div>
	</div>

<% include ../includes/footer.ejs %>